<li>
    {{burger_name}}

    <button class="changeBurgerState" data-id="{{id}}" data-newdevour="{{devoured}}" data-burgername="{{burger_name}}">
        {{#if devoured}}DEVOURED!{{else}}Not eaten!{{/if}}
    </button>

    <button class="ate-burger" data-id="{{this.id}}" data-burgername="{{burger_name}}">Delete burger!</button>
</li>